SocialMediaFactChecker/MachineLearning/twitterTFModel.pkl
SocialMediaFactChecker/FactChecker/__pycache__
SocialMediaFactChecker/MachineLearning/__pycache__
SocialMediaFactChecker/SocialMediaFactChecker/__pycache__